@import "../../styles/Variables.scss";

.card-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 450px;
  padding: 20px;
  margin: 20px;
  border: 1px solid $light-border-color;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  h2,
  p {
    margin: 10px 0;
  }
}

.card-img {
  width: 400px;
}

.card-info {
  text-align: left;
}

.card-btn {
  padding: 0;
  color: blue;
  border: none;
  background-color: white;
  text-align: left;
  margin: 0;
}
.card-btn:hover {
  color: $secondary-color;
}

.card-price {
  margin: auto;
  width: 200px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid $light-border-color;
}

.card-price p {
  display: inline;
}

.card-btn {
  display: flex;
  align-items: center;
}
