@import '../../styles/Variables.scss';

.card-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 400px;
  padding: 20px;
  margin: 20px;
  border: 1px solid $light-border-color;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.card-img {
  width: 400px;
}

h2,
p {
  margin: 0;
}

.card-price {
  width: 200px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid $light-border-color;
}

.card-price p {
  display: inline;
}

.card-btn {
  width: 200px;
}
