$main-color: #283148;
$secondary-color: #ff5959;
$secondary-pale-color: #805959;
$black-text: #000000;
$white-text: #ffffff;
$dark-grey-text: #6a6a6a;
$light-grey-text: #9c9c9c;
$delete-btn-color: #ee0808;
$light-border-color: #d7d3d3;
