@import "../../styles/Variables.scss";

.newsletter-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white-text;
  padding-top: 20px;
  background: $atention-red;
  height: 400px;
  text-align: center;
  overflow: hidden;
  h2 {
    margin-top: 0;
  }
  input {
    padding-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    width: 300px;
    height: 50px;
    border: 1px solid $light-border-color;
    border-radius: 5px;
  }
  button {
    height: 54px;
    width: 50px;
    background-color: $secondary-color;
    color: white;
    border: 1px solid $light-border-color;
    border-radius: 5px;
  }
}

.background-text {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 35rem;
  opacity: 0.3;
  position: absolute;
  bottom: -150px;
}

.newsletter-input {
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
