@import "../../styles/Variables.scss";

.navbar-container {
  color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: $main-color;
}

.nav-left {
  margin-left: 20px;
  display: flex;
  align-items: center;
  h4 {
    margin: 0;
    margin-left: 10px;
  }
}

.nav-center {
  display: flex;
}

.nav-center input {
  margin-right: 10px;
  width: 300px;
  height: 40px;
  border: 1px solid $light-border-color;
  border-radius: 5px;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.nav-link {
  color: $secondary-color !important;
  margin-left: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: $secondary-color-hover !important;

  transition: 0.3s;
}
