@import "../../styles/Variables.scss";

.product-filter-container {
  width: 100%;
  display: flex;
  margin: 20px 30px;
  justify-content: space-between;
  input {
    padding-left: 10px;
    width: 430px;
    height: 40px;
    border: 1px solid $light-border-color;
    border-radius: 5px;
  }
  select {
    padding-left: 5px;
    height: 40px;
    border: 1px solid $light-border-color;
    border-radius: 5px;
  }
}

.left {
  width: 33.33%;
}

.center {
  display: flex;
  margin: auto;
}

.right {
  width: 33.33%;
  text-align: right;
}
