@import "../../styles/Variables.scss";

.dropdown {
  position: absolute;
  width: 432px;
  max-height: 300px;
  padding: 2px;
  border: 1px solid $light-border-color;
  background-color: white;
  z-index: 999;
  left: 0px;
  top: 46px;
  overflow: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.product-info-container {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 30px;
  padding-right: 10px;
  padding-left: 0px;
  border-bottom: 1px solid $light-border-color;
  h4 {
    margin: 0;
    margin-left: 15px;
  }
  img {
    width: 65px;
    height: 60px;
  }
  .product-info-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    cursor: pointer;
    border-left: 1px solid $light-border-color;
    border-right: 1px solid $light-border-color;
  }
}
