@import "../../styles/Variables.scss";

.register-container {
  color: $dark-grey-text;
  display: flex;
  margin: 50px auto;
  max-width: 1200px;
  border: 1px solid $light-border-color;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 100%;
}

.register-img {
  width: 40%;
  background-image: url("https://c1.wallpaperflare.com/preview/596/947/717/track-racing-velodrome-bike.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.register-form {
  margin: 50px;
}

form input {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 300px;
  height: 40px;
  border: 1px solid $light-border-color;
  border-radius: 5px;
}

.form-btn {
  text-align: center;
}

.short {
  width: 145px;
}

.form-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.form-row {
  margin-top: 15px;
  display: flex;
  align-items: flex-end;
}

@media only screen and (max-width: 1300px) {
  .register-container {
    flex-direction: column;
    margin: 40px;
  }

  .register-img {
    height: 40%;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-right-radius: 0px;
  }

  .register-form {
    margin: 30px auto;
  }
}

@media only screen and (max-width: 1300px) {
  .form-row {
    flex-direction: column;
  }

  form input {
    width: 350px;
  }

  .short {
    width: 350px;
  }
}
